@model IEnumerable<EmployeeViewModel>

<a asp-controller="Employees" asp-action="Create">New Employee</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Birthday</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>@item.EmployeeCode</td>*@
                @*HTML HELPER*@
                <td>@Html.ActionLink(item.EmployeeCode, "Detail", "Employees", new { code = item.EmployeeCode})</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.BirthDate.ToShortDateString()</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Employees", new { code = item.EmployeeCode}) |
                    <a href="#" onclick="deleteEmployee(@item.Id); return false;"> Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>

@section Scripts{ 
    <script>
        //javscript code
        function deleteEmployee(employeeId) {
            let confirmation = confirm("Are you sure you want to delete Employee #"
                + employeeId + "?");

            if (!confirmation) {
                return;
            }

            //cancellazione employee
            $.ajax({
                type: 'GET',
                url: `@Url.Action("Delete", "Employees")/${employeeId}`,
                contentType: 'application/json; charset=utf-8',
                success: (data) => {
                    if (data) {
                        location.href = "@Url.Action("Index", "Employees")"
                    }
                }
            });
        }


    </script>


}